* {
  margin: 0;
  padding: 0;
}
.box {
  border: 1px solid red;
  width: 400px;
  margin: 30px auto;
}
/* chi tac dong voi cac thuoc tinh co gia tri la so */
.box h2 {
  /*transition-property: padding-left, color, padding-top;
  transition-property: all;   
  transition-duration: 5s;
  transition-timing-function: linear; */
  transition: 0.4s 0.2s linear;
  transition-property: padding-left, color, padding-top;
}
.box h2:hover {
  padding-left: 100px;
  padding-top: 100px;
  color: red;
}
